<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido a Vinil</title>
</head>

<body>
  <p>Hola {{name}} {{lastName}},</p>
  <p>El equipo de Vinil OIFA le da la bienvenida</p>
  <p>Este mensaje es para informarle que el usuario registrado con el correo electrónico <a
      href="mailto:{{email}}">{{email}}</a> ha sido <b>aprovado</b>.</p>
  <p>Puedes puedes empezar a utilizar la aplicación al iniciar sesión <a
      href="https://vinil-oifa.herokuapp.com/iniciar-sesion">aquí</a>.</p>
</body>

</html>